@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 25% 97.3%;
    --foreground: 0 0% 15%;
    --card: 45 25% 97.3%;
    --card-foreground: 0 0% 15%;
    --popover: 45 25% 97.3%;
    --popover-foreground: 0 0% 15%;
    --primary: 16 100% 65.7%;
    --primary-foreground: 0 0% 10%;
    --secondary: 16 20% 92%;
    --secondary-foreground: 0 0% 9%;
    --muted: 16 20% 95%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 39.1 100% 50%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 16 100% 65.7%;
    --radius: 0.8rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
